{{ $file := .Get "src" }}
{{ range .Page.Resources.ByType "image" }}
    {{ if eq .String $file}}
        {{ $.Scratch.Set "imageSrc" . }}
    {{ end }}
{{ end }}

<figure{{ with .Get "class" }} class="{{ . }}"{{ end }}>
    {{- if .Get "link" -}}
        <a href="{{ .Get "link" }}"{{ with .Get "target" }} target="{{ . }}"{{ end }}{{ with .Get "rel" }} rel="{{ . }}"{{ end }}>
    {{- end -}}
    {{- $image := $.Scratch.Get "imageSrc" -}}
    <img class="lazy lightense"
        src="{{ ($image.Resize "1000x webp").Permalink }}"
        data-src="{{ ($image.Resize "1000x webp").Permalink }}"
        {{- with .Get "withSrcSet" -}}
        {{- $image_1 := $image.Resize "1000x webp" -}}
        {{- $image_2 := $image.Resize "2000x webp" -}}
        {{- $image_3 := $image.Resize "3000x webp" -}}
        {{- $image_4 := $image.Resize "4000x webp" -}}
        data-srcSet="{{ $image_1.Permalink }} 1000w, 
        {{ $image_2.Permalink }} 2000w,
        {{ $image_3.Permalink }} 3000w,
        {{ $image_4.Permalink }} 4000w"
        {{- end -}}
        {{- if or (.Get "alt") (.Get "caption") }}
        alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" | markdownify| plainify }}{{ end }}"
        {{- end -}}
        {{- with .Get "width" }} width="{{ . }}"{{ end -}}
        {{- with .Get "height" }} height="{{ . }}"{{ end -}}
        data-lightense-padding="40"
        data-lightense-cubic-bezier="cubic-bezier(.2, 0, .1, 1)"
        data-lightense-background="rgba(0, 0, 0, .96)"
        data-lightense-z-index="2147483647"
    /><!-- Closing img tag -->
    {{- if .Get "link" }}</a>{{ end -}}
    {{- if or (or (.Get "title") (.Get "caption")) (.Get "attr") -}}
        <figcaption>
            {{ with (.Get "title") -}}
                <h4>{{ . }}</h4>
            {{- end -}}
            {{- if or (.Get "caption") (.Get "attr") -}}<p>
                {{- .Get "caption" | markdownify -}}
                {{- with .Get "attrlink" }}
                    <a href="{{ . }}">
                {{- end -}}
                {{- .Get "attr" | markdownify -}}
                {{- if .Get "attrlink" }}</a>{{ end }}</p>
            {{- end }}
        </figcaption>
    {{- end }}
</figure>